<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: salmon;
      }
      p {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Hello</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit in expedita
      sequi laboriosam molestias, odio porro fuga rem omnis distinctio magni,
      aperiam, consectetur veniam tempora eligendi nemo sunt magnam! Cum ratione
      deleniti totam, autem pariatur tenetur neque, minima quibusdam ea qui
      dignissimos consequatur omnis earum possimus iusto in eaque, animi
      voluptatem dolorem illo voluptas id amet. Nobis cumque ipsam maxime, amet
      iste possimus iusto atque repellendus tenetur ipsa dolores consequatur
      excepturi labore aperiam cupiditate debitis, voluptas quam ab commodi?
      Rerum ratione quam tempore possimus perspiciatis deserunt, modi, quo
      inventore excepturi minus architecto vero? Ab neque dolorum cum non, eius
      a.
    </p>
  </body>
</html>
